[user]
	email = axiom@bu.edu
	name = Alan Xi
[core]
	editor = vim
[init]
	defaultBranch = main
[alias]
	s = status
	a = add
	b = branch
	c = commit
	d = diff
	l = log
	sw = switch
	ba = branch --all
	aa = add --all
	nb = switch -c
	g = log --all --oneline --graph
	co = checkout
	cm = commit -m
	ds = diff --staged
	sub = restore --staged
	rs = checkout HEAD --
	m = merge
	rmb = branch -d
	mvb = branch -m
	cl = clone
	ls = config --list
[credential]
	helper = cache --timeout 43200
