# PATH 

export PATH=/home/fuko/.local/bin:$PATH
# This is for pip global packages I think?
export PATH=/home/fuko/.local/bin:$PATH
# This is npm's global binary directory
export PATH=/usr/local/node-v20.10.0-linux-x64/bin:$PATH


# Used in WSL 2 to display graphical interfaces.
# Src=https://stackoverflow.com/questions/43397162/show-matplotlib-plots-and-other-gui-in-ubuntu-wsl1-wsl2
# export DISPLAY=`grep -oP "(?<=nameserver ).+" /etc/resolv.conf`:0.0

# Directory shorthands

export DL=~/Downloads
export PJ=~/Projects
# Vim plugins
export VIMPLUG=~/.vim/pack/plugins/start
# SDCV dictionaries directory
export SDCV=~/.stardict/dic

