#!/bin/bash

# Echo path, separated by \n
path() {
	echo $PATH | sed "s/:/\n/g"
}

# cd then ls.
# The beauty of this command is that if called without arguments, it equals a raw ls.
cl() {
	cd "$1" && ls
}

# cd then ls -A.
cla() {
	cd "$1" && ls -A
}

# Real directory name of symlink
# realdir() {
#     if [ "$#" -lt 1 ]; then
#         echo "Usage: realdir <file>"
#         return 1
#     fi
#
#     dirname $(realpath $(command -v "$1"))
# }

# Create and go to a temporary directory.
tmp() {
	cd $(mktemp -d)
}

# Duplicate file.
dupe() {
	if [ "$#" -lt 1 ]; then
		echo "Usage: dupe <file>"
		return 1
	fi

	file="$1"
	if [ ! -e "$file" ]; then
		echo "Error: $file not found"
		return 1
	fi

	counter=1
	while [ -e "${file}_$counter" ]; do
		counter=$((counter + 1))
	done

	file_duped="${file}_$counter"

	cp "$file" "$file_duped"

	echo "Copied $file -> $file_duped"
}

# Look up in sdcv
# Dependency: apt sdcv
see() {
	query="$*"
	# The sed command adds 4 spaces before each line
	sdcv -n --color "$query" | sed "s/^/    /" | less -R
}

# Search on jisho.org
# Dependency: npm jisho-cli
miru() {
	query="$*"
	jisho-cli -c always -r "$query" | less -R
}
